<div class="row menuContent">
	<div class="col-md-6">
		<label>Standard</label>
		<div class="list-menu">
			<div ng-repeat="menu in menuItems | filter: {action: '!CUSTOM'}">			
				<span>{{menu.displayName}}</span>
				<input type="checkbox" ng-checked="menuIsSelected(menu)" ng-click="onSelectMenuProperty(menu)"/>				
			</div>
		</div>		
	</div>
	<div class="col-md-6">
		<label>Custom</label>
		<div class="list-menu">
			<div ng-repeat="menu in menuItems | filter: {action: 'CUSTOM'}">
				<span>{{menu.displayName}}</span>
				<input type="checkbox" ng-checked="menuIsSelected(menu)" ng-click="onSelectMenuProperty(menu)"/>
			</div>
		</div>
	</div>    
</div>